/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Hero Section */
#hero {
    background-image: url('backg.jpg'); /* Add a background image */
    background-size: cover;
    background-position: center;
    color: rgb(245, 243, 243);
    padding: 100px 0;
    text-align: center;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.5rem;
    margin-top: 10px;
}

/* Header Styling */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header h1 {
    font-size: 2rem;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

/* About Us Section */
#about {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

#about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Menu Section */
.menu-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.menu-item {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.menu-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Image Hover Effect */
.image-container {
    width: 80%;
    height: 80%;
    overflow: hidden;
    align-self: center;
}

.menu-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.menu-item:hover .menu-image {
    transform: scale(1.1);
}

/* Testimonials Section */
#testimonials {
    background-color: #f0f0f0;
    padding: 50px 20px;
    text-align: center;
}

#testimonials h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.testimonial {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
}

/* Contact Us and Location */
#contact, #location {
    margin-top: 40px;
    text-align: center;
}

/* Footer Styling */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 40px;
}

footer p {
    font-size: 1rem;
}
